body {
	background-image: url(/img/flag.png);
	/*background-position: fixed;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	z-index: 0;
	overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
.title {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/img/logo.png);
	background-size: 100% 100%;
	opacity: 1;
	/*text-shadow: 2px 2px 2px black;*/
	/*margin-top: -4%;*/
	margin-bottom: -4%;
}

.bo1 {
	font-size: 150px;
	margin-left: -100%;
	color: #009cde;
}
.bo2 {
	font-size: 110px;
	color: #009cde;
	display: none;
}
.mottocontainer {
	margin-top: 10%;
}
.motto {
	font-size: 30px;
	background: -webkit-linear-gradient(red, white, blue);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.wilkins {
	font-size: 40px;
	color: #009cde;
	display: none;
}
.navbar {
	background-color: white;
	opacity: 1;
}
/*.navarea {
	padding-bottom: 1%;
	padding-top: 1%;
}*/
.navarea:hover {
	opacity: 1;
	background-color: #E8E8E8;
	text-decoration: none;
}
.navlink {

}
.navlink:hover {
	text-decoration:none;
}
.homepagegreeter {
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	opacity: 1;
	background-color: white;
}
.textsection {
	position: relative;
	margin-left: -1.5%;
	margin-right: -1.5%;
	z-index: 1;
	margin-top: 30%;
	opacity: 1;
	background-color: white;
	/*font-size: 20px;*/
}
.middletext {
	font-size: 20px;
}
.issuestext {
	font-size: 20px;
	margin-top: 5%;
}
.issuesheading {
	margin-top: 5%;
}
.caucus {
	height: 549px;
	width: 370px;
}
.contact {
	background-color: white;
}