body {
	background-image: url(/img/flag.png);
	/*background-position: fixed;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	z-index: 0;
	overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
.title {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/img/bigmotto.png);
	background-size: 100% 100%;
	height: 200px;
	opacity: 1;
	/*text-shadow: 2px 2px 2px black;*/
	/*margin-top: -4%;*/
	/*margin-bottom: -4%;*/
}
.divider1 {
	height: 10px;
	width: 300px;
	background-color: red;
	position: absolute;
	margin-left: 280px;
	margin-top: -350px;
}
.divider2 {
	height: 10px;
	width: 300px;
	background-color: red;
	position: absolute;
	margin-left: 280px;
	margin-top: -235px;
}
.smallmotto {
	height: 106px;
	width: 130%;
}
.landing1 {
	
	/*margin-left: -10%;*/
	/*margin-right: -30%;*/
}
.landing2 {
	display: inline-block;
	background-color: white;
	width: 200%;
	height: 60px;
	padding-top: 1.5%;
	margin-top: -1%;
	margin-bottom: -3%;

}
.biglanding2 {
	display: inline-block;
	background-color: white;
	width: 200%;
	height: 100px;
	padding-top: 2.8%;
	margin-top: -1%;
	margin-bottom: -5%;
}
.smalllanding2 {
	background-color: white;
	width: 110%;
	height: 100px;
	padding-top: 2.8%;
	margin-top: -1.5%;
	margin-bottom: -3%;
}
.landingquote {
	display: inline-block;
	background-image: url(/img/bigmotto.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	width: 2000px;
	margin-left: -5%;
}
.biglandingquote {
	display: inline-block;
	background-image: url(/img/bigmotto.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 900px;
	width: 2000px;
	margin-left: -5%;
}
.smalllandingquote {
	display: inline-block;
	background-image: url(/img/bigmotto.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 500px;
	width: 110%;
	margin-left: -5%;
}
.landingback {
	margin-top: 0%;
	margin-left: -1.3%;
	z-index: 0;
	background-color: #009cde;
	position: relative;
	display: inline-block;
	opacity: .6;
	height: 580px;
	width: 100%;
}
.bo1 {
	font-size: 150px;
	margin-left: -100%;
	color: #009cde;
}
.bo2 {
	font-size: 110px;
	color: #009cde;
	display: none;
}
.mottocontainer {
	margin-top: 10%;
}
.motto {
	font-size: 30px;
	background: -webkit-linear-gradient(red, white, blue);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.wilkins {
	font-size: 40px;
	color: #009cde;
	display: none;
}
.navbar {
	background-color: white;
	opacity: 1;
}
.navarea {
	padding-bottom: 1%;
	padding-top: 1%;
}
.navarea:hover {
	opacity: 1;
	background-color: #E8E8E8;
	text-decoration: none;
}
.navlink {
	font-size: 20px;
}
.navlink:hover {
	text-decoration:none;
}
.homepagegreeter {
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	opacity: 1;
	background-color: white;
}
.textsection {
	position: relative;
	margin-left: -1.5%;
	margin-right: -1.5%;
	z-index: 1;
	margin-top: 20%;
	opacity: 1;
	background-color: white;
	/*font-size: 20px;*/
}
.middletext {
	font-size: 20px;
}
.issuestext {
	font-size: 20px;
	margin-top: 5%;
	padding-left: 3%;
	padding-right: 5%;
}
.issuesheading {
	margin-top: 5%;
}
.caucus {
	height: 549px;
	width: 370px;
}
.contact {
	background-color: white;
}